* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

ul,
ol,
menu {
	list-style: none;
}

body {
    background-color: #022b42;
    color: #f0f3fa;
}

h1 {
    color: #022b42;
    padding-left: 10px;
}

.container {
    max-width: 700px;
	margin: 50px auto;
	background-color: #006da4;
	padding: 20px;
	border-radius: 30px;
}

.prod {
	padding: 10px 20px;
	background-color: #006494;
	margin: 4px;
	border-radius: 30px;
}